.clear-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: 1.4em;
  background-color: #1c1c1c;
  color: #9c8033;
  flex: 1;
  outline: 1px solid #181818;
  cursor: pointer;
}

.clear-btn:hover {
  background-color: #101010;
}

.clear-btn:active {
  background-color: #000;
  box-shadow: 0 5px #666;
}
